/*************************************************************************
*                                                                       *
*                          Utilities SASS                               *
*                                                                       *
**************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$red: rgba(253, 116, 108, 1);
$primary-black-c: rgba(253, 116, 108, 0.7);
$secondary-c: rgba(106, 255, 240, 0.347);

$primary: $red;

$home_color1: #141E30;
$home_color2: #243B55;

.is-prim {
    color: $primary;
}

hr{
    display: flex;
    color: $primary!important;
    background-color: $primary !important; 
}

canvas{
    shape-outside: ellipse(100px 200px at 50% 50%);
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: .6;
}

.top-canvas{
    border-top: 10px solid $primary;
    border-left: 10px solid black; 
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}
.bottom-canvas{
    border-top: 10px solid black;
    border-left: 10px solid black; 
    border-bottom: 10px solid $primary;
    border-right: 10px solid black;
}
.left-canvas{
    border-top: 10px solid black;
    border-left: 10px solid $primary; 
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}
.right-canvas{
    border-top: 10px solid black;
    border-left: 10px solid black; 
    border-bottom: 10px solid black;
    border-right: 10px solid $primary;
}


body {
    font-family: 'Inconsolata', sans-serif !important;
}

.main_color {
    background-image: linear-gradient(to right, $home_color1 , $home_color2);
}

html {
    background-image: linear-gradient(to right, $home_color1 , $home_color2);
}
/*************************************************************************
*                                                                       *
*                          Transitions                                  *
*                                                                       *
**************************************************************************/

/*TRANSITION LEFT*/
.fade-left-enter-active {
    -webkit-animation: fadeInLeft .5s;
    animation: fadeInLeft .5s;
}

.fade-left-leave-active {
    -webkit-animation: fadeOutDown .3s;
    animation: fadeOutDown .3s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-600px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(-600px, 0, 0);
    }
}

/*TRANSITION RIGHT*/
.fade-right-enter-active {
    -webkit-animation: fadeInRight .7s;
    animation: fadeInRight .7s;
}

.fade-right-leave-active {
    -webkit-animation: fadeOutDown .3s;
    animation: fadeOutDown .3s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(600px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(600px, 0, 0);
    }
}
    
